{
    "plugins": ["prettier-plugin-blade"],
    "overrides": [
        {
            "files": "*.blade.php",
            "options": {
                "parser": "blade"
            }
        }
    ],
    "singleQuote": true,
    "semi": true,
    "tabWidth": 4,
    "trailingComma": "es5"
}
